-- Create the database "Football" if it does not exist
DROP DATABASE Football
GO

IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = 'Football')
  CREATE DATABASE Football
GO

USE Football
GO


---- Drop all existing Football tables, so that we can create them from scratch
IF OBJECT_ID('Leagues_Teams') IS NOT NULL
  DROP TABLE Leagues_Teams
IF OBJECT_ID('TeamMatches') IS NOT NULL
  DROP TABLE TeamMatches
IF OBJECT_ID('InternationalMatches') IS NOT NULL
  DROP TABLE InternationalMatches
IF OBJECT_ID('Teams') IS NOT NULL
  DROP TABLE Teams
IF OBJECT_ID('Leagues') IS NOT NULL
  DROP TABLE Leagues
IF OBJECT_ID('Countries') IS NOT NULL
  DROP TABLE Countries


-- Create tables
CREATE TABLE Countries(
	CountryCode char(2) NOT NULL,
	CountryName nvarchar(50) NOT NULL,
	CurrencyCode varchar(50) NULL,
	Population int NULL,
	AreaSqKm int NULL,
	Capital nvarchar(50) NULL,
 CONSTRAINT PK_Countries PRIMARY KEY (CountryCode))
GO

CREATE TABLE Leagues(
	Id int IDENTITY NOT NULL,
	LeagueName nvarchar(50) NOT NULL,
	CountryCode char(2) NULL,
 CONSTRAINT PK_Leagues PRIMARY KEY (Id))
GO

CREATE TABLE Teams(
	Id int IDENTITY NOT NULL,
	TeamName nvarchar(50) NOT NULL,
	CountryCode char(2) NULL,
 CONSTRAINT PK_Teams PRIMARY KEY (Id))
GO

CREATE TABLE Leagues_Teams(
	LeagueId int NOT NULL,
	TeamId int NOT NULL,
 CONSTRAINT PK_Leagues_Teams PRIMARY KEY (LeagueId,	TeamId))
GO

CREATE TABLE InternationalMatches(
	Id int IDENTITY NOT NULL,
	HomeCountryCode char(2) NOT NULL,
	AwayCountryCode char(2) NOT NULL,
	HomeGoals int NULL,
	AwayGoals int NULL,
	MatchDate datetime NULL,
	LeagueId int NULL,
 CONSTRAINT PK_InternationalMatches PRIMARY KEY (Id))
GO

CREATE TABLE TeamMatches(
	Id int IDENTITY NOT NULL,
	HomeTeamId int NOT NULL,
	AwayTeamId int NOT NULL,
	HomeGoals int NULL,
	AwayGoals int NULL,
	MatchDate datetime NULL,
	LeagueId int NULL,
 CONSTRAINT PK_TeamMatches PRIMARY KEY (Id))
GO


-- Add integrity constraints
ALTER TABLE Leagues WITH CHECK ADD CONSTRAINT
FK_Leagues_Countries FOREIGN KEY(CountryCode)
REFERENCES Countries (CountryCode)
GO

ALTER TABLE Leagues_Teams WITH CHECK ADD CONSTRAINT 
FK_Leagues_Teams_Leagues FOREIGN KEY(LeagueId)
REFERENCES Leagues (Id)
GO

ALTER TABLE Leagues_Teams WITH CHECK ADD CONSTRAINT
FK_Leagues_Teams_Teams FOREIGN KEY(TeamId)
REFERENCES Teams (Id)
GO

ALTER TABLE Teams WITH CHECK ADD CONSTRAINT
FK_Teams_Countries FOREIGN KEY(CountryCode)
REFERENCES Countries (CountryCode)
GO

ALTER TABLE InternationalMatches WITH CHECK ADD CONSTRAINT
FK_InternationalMatches_Countries_HomeCountryCode FOREIGN KEY(HomeCountryCode)
REFERENCES Countries (CountryCode)
GO

ALTER TABLE InternationalMatches WITH CHECK ADD CONSTRAINT
FK_InternationalMatches_Countries_AwayCountryCode FOREIGN KEY(AwayCountryCode)
REFERENCES Countries (CountryCode)
GO

ALTER TABLE TeamMatches WITH CHECK ADD CONSTRAINT
FK_TeamMatches_Teams_HomeTeam FOREIGN KEY(HomeTeamId)
REFERENCES Teams (Id)
GO

ALTER TABLE TeamMatches WITH CHECK ADD CONSTRAINT
FK_TeamMatches_Teams_AwayTeam FOREIGN KEY(AwayTeamId)
REFERENCES Teams (Id)
GO

ALTER TABLE TeamMatches WITH CHECK ADD CONSTRAINT 
FK_TeamMatches_Leagues FOREIGN KEY(LeagueId)
REFERENCES Leagues (Id)
GO

ALTER TABLE InternationalMatches WITH CHECK ADD CONSTRAINT
FK_InternationalMatches_Leagues FOREIGN KEY(LeagueId)
REFERENCES Leagues (Id)
GO


-- Add unique key constraints
CREATE UNIQUE NONCLUSTERED INDEX UK_Country_CountryName ON Countries (CountryName)
GO

CREATE UNIQUE NONCLUSTERED INDEX UK_Leagues_LeagueName ON Leagues (LeagueName)
GO

CREATE NONCLUSTERED INDEX UK_Teams_Name_Country ON Teams (TeamName, CountryCode)
GO


-- Insert the Countries
GO

-- Insert a few leagues
INSERT INTO Leagues(LeagueName, CountryCode) VALUES
 ('UK Premier League', 'GB'),
 ('Italian Serie A', 'IT'),
 ('UEFA Champions League', NULL),
 ('German Bundesliga', 'DE'),
 ('FIFA 2018 World Cup', NULL)
GO

-- Insert teams from Great Britain (GB)
INSERT INTO Teams(TeamName, CountryCode) VALUES
 ('Queens Park Rangers', 'GB'),
 ('Leicester City', 'GB'),
 ('Aston Villa', 'GB'),
 ('Swansea City', 'GB'),
 ('Stoke City', 'GB'),
 ('Southampton', 'GB'),
 ('West Bromwich Albion', 'GB'),
 ('Crystal Palace', 'GB'),
 ('Tottenham Hotspur', 'GB'),
 ('Manchester United', 'GB'),
 ('Manchester City', 'GB'),
 ('Newcastle United', 'GB'),
 ('Chelsea', 'GB'),
 ('Burnley', 'GB'),
 ('West Ham United', 'GB'),
 ('Arsenal', 'GB'),
 ('Hull City', 'GB'),
 ('Everton', 'GB'),
 ('Liverpool', 'GB'),
 ('Sunderland', 'GB')
GO

-- Assign the GB teams to "UK Premier League"
INSERT INTO Leagues_Teams(LeagueId, TeamId)
SELECT (SELECT MIN(Id) FROM Leagues WHERE LeagueName='UK Premier League'), Id 
FROM Teams WHERE CountryCode='GB'
GO

-- Insert teams from Germany (DE)
INSERT INTO Teams(TeamName, CountryCode) VALUES
 ('Mainz', 'DE'),
 ('Borussia Monchengladbach', 'DE'),
 ('Hannover 96', 'DE'),
 ('Bayern Munich', 'DE'),
 ('VfB Stuttgart', 'DE'),
 ('Werder Bremen', 'DE'),
 ('Bayer Leverkusen', 'DE'),
 ('Schalke 04', 'DE'),
 ('Hertha Berlin', 'DE'),
 ('VfL Wolfsburg', 'DE'),
 ('SC Freiburg', 'DE'),
 ('Borussia Dortmund', 'DE'),
 ('FC Augsburg', 'DE'),
 ('Hamburg SV', 'DE'),
 ('FC Cologne', 'DE'),
 ('Eintracht Frankfurt', 'DE'),
 ('TSG Hoffenheim', 'DE'),
 ('SC Paderborn 07', 'DE')
GO

-- Assign the DE teams to "German Bundesliga"
INSERT INTO Leagues_Teams(LeagueId, TeamId)
SELECT (SELECT MIN(Id) FROM Leagues WHERE LeagueName='German Bundesliga'), Id 
FROM Teams WHERE CountryCode='DE'
GO

-- Insert teams from Italy (IT)
INSERT INTO Teams(TeamName, CountryCode) VALUES
 ('Udinese', 'IT'),
 ('Lazio', 'IT'),
 ('Sampdoria', 'IT'),
 ('Napoli', 'IT'),
 ('Atalanta', 'IT'),
 ('Cagliari', 'IT'),
 ('Juventus', 'IT'),
 ('AS Roma', 'IT'),
 ('Torino', 'IT'),
 ('Empoli', 'IT'),
 ('Sassuolo', 'IT'),
 ('Chievo Verona', 'IT'),
 ('Hellas Verona', 'IT'),
 ('AC Milan', 'IT'),
 ('Genoa', 'IT'),
 ('Internazionale', 'IT'),
 ('Palermo', 'IT'),
 ('Fiorentina', 'IT'),
 ('Cesena', 'IT'),
 ('Parma', 'IT')
GO

-- Assign the IT teams to "Italian Serie A"
INSERT INTO Leagues_Teams(LeagueId, TeamId)
SELECT (SELECT MIN(Id) FROM Leagues WHERE LeagueName='Italian Serie A'), Id 
FROM Teams WHERE CountryCode='IT'
GO

-- Insert teams from "UEFA Champions League" (without the already inserted teams)
GO

-- Assign the UEFA Teams to "UEFA Champions League"
INSERT INTO Leagues_Teams(LeagueId, TeamId)
SELECT (SELECT MIN(Id) FROM Leagues WHERE LeagueName='UEFA Champions League'), 
Id FROM Teams WHERE TeamName IN (
  'Manchester City',
  'Real Madrid',
  'Bayern Munich',
  'Juventus',
  'Barcelona',
  'AS Monaco FC',
  'Paris Saint-Germain',
  'Bayer Leverkusen',
  'Chelsea',
  'Atletico Madrid',
  'Basel 1893',
  'Porto',
  'Borussia Dortmund',
  'Schalke 04',
  'Arsenal',
  'Shakhtar Donetsk'
)
GO

-- Insert some international matches
INSERT INTO InternationalMatches(
  HomeCountryCode, AwayCountryCode, HomeGoals, AwayGoals, MatchDate, LeagueId) VALUES
('GE', 'MT', 2, 0, '25-Mar-2015 19:00', NULL),
('DK', 'US', 3, 2, '25-Mar-2015', NULL),
('AL', 'FR', NULL, NULL, '13-Jun-2015 21:45', (SELECT Id FROM Leagues WHERE LeagueName='FIFA 2018 World Cup')),
('ES', 'DE', NULL, NULL, NULL, NULL),
('BG', 'GR', 4, 0, '26-Jun-1994 11:35', NULL),
('BG', 'AR', 2, 0, '30-Jun-1994 18:35', NULL),
('DE', 'BG', 1, 2, '10-Jul-1994', NULL),
('ES', 'BG', NULL, NULL, NULL, (SELECT Id FROM Leagues WHERE LeagueName='FIFA 2018 World Cup'))
GO

-- Insert some team matches

GO
